body {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-header {
  height: 8rem;
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 0;
  }
  a {
    color: red;
  }
  a.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: #888; /* цвет текста серый */
  }
}

.page-content {
  flex: 1 0 auto;
  max-width: 1366px;
}

.page-footer {
  flex: 0 0 auto;
}
