<ul>
  <li><a href="{% url 'registration' %}" {% if request.path == '/registration/' %}class="disabled"{% endif %}>Регистрация</a></li>
  
  <li><a href="{% url 'login' %}" {% if request.path == '/login/' %}class="disabled"{% endif %}>Войти</a></li>
  
  <li><a href="{% url 'reminder' %}" {% if request.path == '/reminder/' %}class="disabled"{% endif %}>Восстановить Пароль</a></li>
  
  <li><a href="{% url 'index' %}" {% if request.path == '/' %}class="disabled"{% endif %}>Главная</a></li>

  <li><a href="{% url 'about' %}" {% if request.path == '/about/' %}class="disabled"{% endif %}>О Фонде</a></a></li>

  <li><a href="{% url 'new_project' %}" {% if request.path == '/new_project/' %}class="disabled"{% endif %}>Предложить Проект</a></li>

  <li><a href="{% url 'donat' %}" {% if request.path == '/donat/' %}class="disabled"{% endif %}>Пожертвования</a></li>

  <li><a href="{% url 'users' %}" {% if request.path == '/users/' %}class="disabled"{% endif %}>Список участников</a></li>

  <li><a href="{% url 'user' %}" {% if request.path == '/user/' %}class="disabled"{% endif %}>Страница участника</a></li>

  <li><a href="{% url 'profile' %}" {% if request.path == '/profile/' %}class="disabled"{% endif %}>Редактировать пользователя</a></li>

  <li><a href="{% url 'projects' %}" {% if request.path == '/projects/' %}class="disabled"{% endif %}>Список проектов</a></li>

  <li><a href="{% url 'project' %}" {% if request.path == '/project/' %}class="disabled"{% endif %}>Страница проекта</a></li>

  <li><a href="{% url 'not_found' %}" {% if request.path == '/not_found/' %}class="disabled"{% endif %}>404 ошибка</a></li>
</ul>

